<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
    <div onClick="getUsers();">SHOW ALL USERS</div>
    <div id="user-list"></div>

    <input type="text" id="assignee" placeholder="Start typing...">
</body>
</html>